@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.App {
    background-image: url('assets//banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .group:hover img {
    transform: rotate(360deg);
    transition: transform 0.5s ease;
  }